<div class="popup-content">
  <h1 class="title">Polygraph</h1>
  <ul class="list">
    {{#analysis.value}}
      <li class="expander">
        <a href="#" class="expander-trigger expander-hidden">Exaggerated value</a>
        <div class="expander-content">
          <p>
            The article is trying to grab attention by exaggerating the value it provides to the reader.
          </p>
        </div>
      </li>
    {{/analysis.value}}
    {{#analysis.opinion}}
      <li class="expander">
        <a href="#" class="expander-trigger expander-hidden">Personal opinion</a>
        <div class="expander-content">
          <p>The article displays a subjective view and is likely to be the personal opinion of the author.</p>
        </div>
      </li>
    {{/analysis.opinion}}
    {{#analysis.quote}}
      <li class="expander">
        <a href="#" class="expander-trigger expander-hidden">Quotation or loose definition</a>
        <div class="expander-content">
          <p>
              Out-of-context quotations can sometimes convey a completely different meaning than what was originally intended.
          </p>
        </div>
      </li>
    {{/analysis.quote}}
    {{#analysis.uncertainty}}
      <li class="expander">
        <a href="#" class="expander-trigger expander-hidden">Uncertainty</a>
        <div class="expander-content">
          <p>
            Communicating uncertainty in the title allows the author to convey information that is false or inaccurate without taking responsibility for it.
          </p>
        </div>
      </li>
    {{/analysis.uncertainty}}
    {{#analysis.omission}}
      <li class="expander">
        <a href="#" class="expander-trigger expander-hidden">Incomplete title</a>
        <div class="expander-content">
          <p>Information is omitted from the title in order to entice curiosity.</p>
        </div>
      </li>
    {{/analysis.omission}}
    {{#analysis.listicle}}
      <li class="expander">
        <a href="#" class="expander-trigger expander-hidden">Listicle</a>
        <div class="expander-content">
          <p>
            Listicles are usually superficial articles constrained to a focus group tested number of bullet points. Their popularity lies in the little effort they require from the reader and in their addictive nature.
          </p>
        </div>
      </li>
    {{/analysis.listicle}}
    {{#analysis.exaggeration}}
      <li class="expander">
        <a href="#" class="expander-trigger expander-hidden">Exaggeration</a>
        <div class="expander-content">
          <p>The article uses exaggeration for sensationalistic purposes.</p>
        </div>
      </li>
    {{/analysis.exaggeration}}
  </ul>
  {{#clear}}
    <p class="all-clear">All clear!</p>
  {{/clear}}
</div>
