<div class="popup-content">
  <h1>Polygraph</h1>
  <ul>
    {{#analysis.emotion}}
      <li>Appeal to emotion</li>
    {{/analysis.emotion}}
    {{#analysis.opinion}}
      <li>Personal opinion</li>
    {{/analysis.opinion}}
    {{#analysis.quote}}
      <li>Quotation or loose definition</li>
    {{/analysis.quote}}
    {{#analysis.uncertainty}}
      <li>Uncertainty</li>
    {{/analysis.uncertainty}}
    {{#analysis.pointing}}
      <li>Pointing</li>
    {{/analysis.pointing}}
    {{#analysis.listicle}}
      <li>Listicle</li>
    {{/analysis.listicle}}
    {{#analysis.exaggeration}}
      <li>Exaggeration</li>
    {{/analysis.exaggeration}}
  </ul>
</div>
