<div class="popup-content">
  <h1 class="title">Polygraph</h1>
  <ul class="list">
    {{#analysis.emotion}}
      <li class="expander">
        <a href="#" class="expander-trigger expander-hidden">Appeal to emotion</a>
        <div class="expander-content">
          <p>The article is using a language or tone that tries to appeal to your emotions. This can sacrifice accuracy
            and introduce bias.</p>
        </div>
      </li>
    {{/analysis.emotion}}
    {{#analysis.opinion}}
      <li class="expander">
        <a href="#" class="expander-trigger expander-hidden">Personal opinion</a>
        <div class="expander-content">
          <p>The article displays a subjective view and is likely to be the personal opinion of the author.</p>
        </div>
      </li>
    {{/analysis.opinion}}
    {{#analysis.quote}}
      <li class="expander">
        <a href="#" class="expander-trigger expander-hidden">Quotation or loose definition</a>
        <div class="expander-content">
           <p>Out-of-context quotations can sometimes convey a completely different meaning than what was
             originally intended.</p>
        </div>
      </li>
    {{/analysis.quote}}
    {{#analysis.uncertainty}}
      <li class="expander">
        <a href="#" class="expander-trigger expander-hidden">Uncertainty</a>
        <div class="expander-content">
          <p>The author might not be certain about what he/she is writing. Communicating uncertainty in the title also allows
            them to convey information that is false or inaccurate.
          </p>
        </div>
      </li>
    {{/analysis.uncertainty}}
    {{#analysis.omission}}
      <li class="expander">
        <a href="#" class="expander-trigger expander-hidden">Omission</a>
        <div class="expander-content">
          Essential information is omitted from the title in order to entice curiosity. Clicbait.
        </div>
      </li>
    {{/analysis.omission}}
    {{#analysis.listicle}}
      <li class="expander">
        <a href="#" class="expander-trigger expander-hidden">Listicle</a>
        <div class="expander-content">
          <p>Listicles are almost exclusively clicbait articles. They are effective because they require
            little commitment from the reader because of their concise nature. Readers are also more likely
            to finish reading listicles because of the sense of progression the numbering provides.</p>
        </div>
      </li>
    {{/analysis.listicle}}
    {{#analysis.exaggeration}}
      <li class="expander">
        <a href="#" class="expander-trigger expander-hidden">Exaggeration</a>
        <div class="expander-content">
          <p>The article exaggerates facts for sensationalistic purposes. Clickbait.</p>
        </div>
      </li>
    {{/analysis.exaggeration}}
  </ul>
  {{#clear}}
    <p class="all-clear">All clear!</p>
  {{/clear}}
</div>
