<div class="popup-content">
  <h1 class="title">Polygraph</h1>
  <ul class="list">
    {{#analysis.emotion}}
      <li class="expander">
        <a href="#" class="expander-trigger expander-hidden">Appeal to emotion</a>
        <div class="expander-content">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio mollitia fugiat facilis enim accusamus quisquam aut, repellendus incidunt quod optio facere labore illo numquam ipsum beatae vero debitis, fugit excepturi.</p>
        </div>
      </li>
    {{/analysis.emotion}}
    {{#analysis.opinion}}
      <li class="expander">
        <a href="#" class="expander-trigger expander-hidden">Personal opinion</a>
        <div class="expander-content">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio mollitia fugiat facilis enim accusamus quisquam aut, repellendus incidunt quod optio facere labore illo numquam ipsum beatae vero debitis, fugit excepturi.</p>
        </div>
      </li>
    {{/analysis.opinion}}
    {{#analysis.quote}}
      <li class="expander">
        <a href="#" class="expander-trigger expander-hidden">Quotation or loose definition</a>
        <div class="expander-content">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio mollitia fugiat facilis enim accusamus quisquam aut, repellendus incidunt quod optio facere labore illo numquam ipsum beatae vero debitis, fugit excepturi.</p>
        </div>
      </li>
    {{/analysis.quote}}
    {{#analysis.uncertainty}}
      <li class="expander">
        <a href="#" class="expander-trigger expander-hidden">Uncertainty</a>
        <div class="expander-content">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio mollitia fugiat facilis enim accusamus quisquam aut, repellendus incidunt quod optio facere labore illo numquam ipsum beatae vero debitis, fugit excepturi.</p>
        </div>
      </li>
    {{/analysis.uncertainty}}
    {{#analysis.pointing}}
      <li class="expander">
        <a href="#" class="expander-trigger expander-hidden">Pointing</a>
        <div class="expander-content">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio mollitia fugiat facilis enim accusamus quisquam aut, repellendus incidunt quod optio facere labore illo numquam ipsum beatae vero debitis, fugit excepturi.</p>
        </div>
      </li>
    {{/analysis.pointing}}
    {{#analysis.listicle}}
      <li class="expander">
        <a href="#" class="expander-trigger expander-hidden">Listicle</a>
        <div class="expander-content">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio mollitia fugiat facilis enim accusamus quisquam aut, repellendus incidunt quod optio facere labore illo numquam ipsum beatae vero debitis, fugit excepturi.</p>
        </div>
      </li>
    {{/analysis.listicle}}
    {{#analysis.exaggeration}}
      <li class="expander">
        <a href="#" class="expander-trigger expander-hidden">Exaggeration</a>
        <div class="expander-content">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio mollitia fugiat facilis enim accusamus quisquam aut, repellendus incidunt quod optio facere labore illo numquam ipsum beatae vero debitis, fugit excepturi.</p>
        </div>
      </li>
    {{/analysis.exaggeration}}
  </ul>
  {{#clear}}
    <p class="all-clear">All clear!</p>
  {{/clear}}
</div>
