/* The alert message box */
.Polygraph_alert {
  display: none;
  position: fixed;
  z-index: 16000000;
  top: 50px;
  right: 50px;
  padding: 20px;
  background-color: #f44336; /* Red */
  color: white;
  box-shadow: 2px 2px 10px #888888;
}

/* The close button */
.Polygraph_closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

/* When moving the mouse over the close button */
.Polygraph_closebtn:hover {
  color: black;
}
