@import "bourbon/bourbon";
@import "base/base";

@import url('https://fonts.googleapis.com/css?family=Quicksand|Raleway');


* {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  outline: none;
}

.popup-content {
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 200px;
}

.title {
  font-family: 'Quicksand', sans-serif;
}

.list {
  font-family: 'Raleway', sans-serif;

  li {
    border-top: 1px;
    border-style: solid;
  }
  li:first-child {
    border-style: none;
  }
}
