* {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  outline: none;
}

.popup-content {
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

ul {
  padding: 15px;
  margin: auto;
}
