{
  "extends": "eslint-config-airbnb-base",
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true
  },
  "globals": {
    "chrome": false,
    "crypto": false
  },
  "parserOptions": {
    "sourceType": "module"
  },
  "rules": {
    "no-use-before-define": "off",
    "no-restricted-syntax": "off",
    "no-plusplus": "off"
  }
}
